<div class="d-flex row justify-content-center">
    <div class="card mb-5 w-50">
      <div class="card-body">
        <h5 class="card-title text-center">Perfil</h5>
        <div class="row">
          <div class="col-lg-4 col-md-6">

            <input class="form-check-input" type="radio" (click)="changePerfil()" [(ngModel)]="publicador.perfil"
              value="especial" name="flexRadioDefault">
            <label class="form-check-label mx-1">
              Pioneiro Especial
            </label>
          </div>
          <div class="col-lg-4 col-md-6">

            <input class="form-check-input mx-1" type="radio" (click)="changePerfil()" [(ngModel)]="publicador.perfil"
              value="regular" name="flexRadioDefault">
            <label class="form-check-label mx-1">
              Pioneiro Regular
            </label>
          </div>
          <div class="col-lg-4 col-md-6">

            <input class="form-check-input mx-1" type="radio" (click)="changePerfil()" [(ngModel)]="publicador.perfil"
              value="auxiliar" name="flexRadioDefault">
            <label class="form-check-label mx-1">
              Pioneiro Auxiliar
            </label>
          </div>
          <div class="col-lg-4 col-md-6">

            <input class="form-check-input mx-1" type="radio" (click)="changePerfil()" [(ngModel)]="publicador.perfil"
              value="campanha" name="flexRadioDefault">
            <label class="form-check-label mx-1">
              Pioneiro Auxiliar de Campanha
            </label>
          </div>
          <div class="col-lg-4 col-md-6">

            <input class="form-check-input mx-1" type="radio" (click)="changePerfil()" [(ngModel)]="publicador.perfil"
              value="publicador" name="flexRadioDefault">
            <label class="form-check-label">
              Publicador
            </label>
          </div>
          <div [ngSwitch]="publicador.perfil">
            <div *ngSwitchCase="'publicador'">
              <h6 class="card-subtitle mb-2 text-muted mt-2"> A média de horas para publicadores é de : 11 horas
                mensais. Voce ainda precisa de {{ 11*60 - (totals.hours + totals.bonus) | hours}} este mês.</h6>
            </div>
            <div *ngSwitchCase="'especial'">
              <h6 class="card-subtitle mb-2 text-muted mt-2">A meta de horas para Pioneiro especial é de 100 horas. Você
                precisa em média {{ 100*60 / lastDay | hours }} por dia. Sua média até agora é de {{(totals.hours + totals.bonus) / today
                | hours}}. <span *ngIf="(100*60 - (totals.hours + totals.bonus)) >= 0; else especialSobrando">  Voce ainda precisa de {{ 100*60 - (totals.hours + totals.bonus) | hours}} este mês.</span>
                <ng-template #especialSobrando>
                  Você têm {{ (totals.hours + totals.bonus) - 100*60 | hours}} sobrando este mês.
                </ng-template>  
              </h6>
            </div>
            <div *ngSwitchCase="'regular'">
              <h6 class="card-subtitle mb-2 text-muted mt-2">A meta de horas para Pioneiro regular é de 50 horas. Você
                precisa em média {{ 50*60 / lastDay | hours }} por dia. Sua média até agora é de {{(totals.hours + totals.bonus) / today
                | hours}}.<span *ngIf="(50*60 - (totals.hours + totals.bonus)) >= 0; else regularSobrando">  Voce ainda precisa de {{ 50*60 - (totals.hours + totals.bonus) | hours}} este mês.</span>
                <ng-template #regularSobrando>
                  Você têm {{ (totals.hours + totals.bonus) - 50*60 | hours}} sobrando este mês.
                </ng-template> 
                </h6> 
            </div>
            <div *ngSwitchCase="'auxiliar'">
              <h6 class="card-subtitle mb-2 text-muted mt-2">A meta de horas para Pioneiro auxiliar é de 30 horas. Você
                precisa em média {{ 30*60 / lastDay | hours }} por dia. Sua média até agora é de {{(totals.hours + totals.bonus) / today
                | hours}}. <span *ngIf="(30*60 - (totals.hours + totals.bonus)) >= 0; else auxiliarSobrando">  Voce ainda precisa de {{ 30*60 - (totals.hours + totals.bonus) | hours}} este mês.</span>
                <ng-template #auxiliarSobrando>
                  Você têm {{ (totals.hours + totals.bonus) - 30*60 | hours}} sobrando este mês.
                </ng-template> </h6>
            </div>
            <div *ngSwitchCase="'campanha'">
              <h6 class="card-subtitle mb-2 text-muted mt-2">A meta de horas para Pioneiro auxiliar de campanha é de 15
                horas. Você precisa em média {{ 15*60 / lastDay | hours }} por dia. Sua média até agora é de
                {{(totals.hours + totals.bonus) / today | hours}}. <span *ngIf="(15*60 - (totals.hours + totals.bonus)) >= 0; else campanhaSobrando">  Voce ainda precisa de {{ 15*60 - (totals.hours + totals.bonus) | hours}} este mês.</span>
                <ng-template #campanhaSobrando>
                  Você têm {{ (totals.hours + totals.bonus) - 15*60 | hours}} sobrando este mês.
                </ng-template> </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>