.btn-primary{
  background-color: #2B3BA8;
  border-color: #2B3BA8;
}
.dashboard {
    margin-top: 1vw;
}

.removeArrows::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

.removeArrows {
    -moz-appearance:textfield !important;
    appearance: textfield !important;
}
.imgList{
    width: 5vw;
}
.imgShow{
    width: 100%;
}
@media screen and (max-width: 1440px) {
    .dashboard {
        margin-top: 2vw;
    }
    .imgList{
        width: 10vw;
    }
}
@media screen and (max-width: 1280px) {
    .dashboard {
        margin-top: 2vw;
    }
    .imgList{
        width: 12vw;
    }
}
@media screen and (max-width: 1024px) {
    .dashboard {
        margin-top: 2vw;
    }
    .imgList{
        width: 15vw;
    }
    .w-50{
        width: 99% !important;
    }
}
@media screen and (max-width: 820px) {
    .dashboard {
        margin-top: 2vw;
    }
    .imgList{
        width: 20vw;
    }
}
@media screen and (max-width: 540px) {
    .dashboard {
        margin-top: 2vw;
    }
    .imgList{
        width: 25vw;
    }
}


@media screen and (max-width: 425px) {
    .dashboard {
        margin-top: 2vw;
    }
    .imgList{
        width: 35vw;
    }
}

@media screen and (max-width: 390px) {
    .dashboard {
        margin-top: 2vw;
    }
    .imgList{
        width: 38vw;
    }
}

@media screen and (max-width: 375px) {
    .dashboard {
        margin-top: 2vw;
    }
    .imgList{
        width: 40vw;
    }
}

@media screen and (max-width: 320px) {
    .dashboard {
        margin-top: 2vw;
    }
    .imgList{
        width: 50vw;
    }
}
@media screen and (max-width: 280px) {
    .dashboard {
        margin-top: 2vw;
    }
    .imgList{
        width: 65vw;
    }
}

.active{
    background-color: white;
    color: black;
}