<div class=" container-fluid dashboard mb-3">
  <app-totals [view]="view" [viewDate]="viewDate" [publicador]="publicador" [totals]="totals"></app-totals>

  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()">
          Anterior
        </div>
        <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
          Hoje
        </div>
        <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()">
          Próximo
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'pt' }}</h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
          Dia
        </div>
        <div class="btn btn-primary" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
          Mês
        </div>
        <div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
          Semana
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="d-flex justify-content-center">
    <button class="btn btn-primary mb-3" (click)="hourSegmentClicked()">Adicionar registro</button>
    <button class="btn btn-primary mb-3 mx-2" (click)="openRevisitModal()">Adicionar nova revisita</button>
    <button class="btn btn-primary mb-3" (click)="openListRevisitModal()">Adicionar anotação de revisita</button>
  </div>

  <div [ngSwitch]="view">
    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="dayEvents"
      [refresh]="refresh" [locale]="locale" [hourSegments]="2" (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)" (hourSegmentClicked)="hourSegmentClicked()">
    </mwl-calendar-day-view>
    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
      [refresh]="refresh" [locale]="locale" (eventClicked)="handleEvent('Clicked', $event.event)"
      (dayClicked)="dayClicked($event.day)" (eventTimesChanged)="eventTimesChanged($event)"
      (hourSegmentClicked)="hourSegmentClicked()">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
      [refresh]="refresh" [locale]="locale" (eventClicked)="handleEvent('Clicked', $event.event)"
      (hourSegmentClicked)="setDate($event.date)" (eventTimesChanged)="eventTimesChanged($event)"
      (hourSegmentClicked)="hourSegmentClicked()">
    </mwl-calendar-week-view>
  </div>
  <ng-template #loading>
    <div class="text-center">
      <i class="fas fa-spin fa-spinner fa-5x"></i> <br />
      Loading events...
    </div>
  </ng-template>

  <div class="my-3">
    <p class="text-center text-primary text-decoration-underline" (click)="showVideo()">Ver o video novamente</p>
  </div>


  <ng-template #modalContent let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">Adicione seu Relatorio</h5>
      <button type="button" class="btn btn-primary close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        Horas bonus?
        <input class="form-check-input" type="radio" [(ngModel)]="modalData.bonus" (click)="cancelVideo('true')"
          value="true" name="flexRadioDefault">
        <label class="form-check-label mx-1">
          Sim
        </label>
        <input class="form-check-input" type="radio" [(ngModel)]="modalData.bonus" (click)="cancelVideo('false')"
          value="false" name="flexRadioDefault">
        <label class="form-check-label mx-1">
          Não
        </label>
      </div>

      <div>
        Hora de inicio
        <select name="startHour" class="form-select" id="startHour" [(ngModel)]="modalData.startHour">
          <option value="00">00</option>
          <option value="01">01</option>
          <option value="02">02</option>
          <option value="03">03</option>
          <option value="04">04</option>
          <option value="05">05</option>
          <option value="06">06</option>
          <option value="07">07</option>
          <option value="08">08</option>
          <option value="09">09</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
        </select>
      </div>
      <div>
        Minuto de inicio:
        <select name="startMinute" class="form-select" id="startMinute" [(ngModel)]="modalData.startMinute">
          <option *ngFor="let minute of minutesArray" [value]="minute.value">{{minute.title}}</option>
        </select>
      </div>
      <div>
        Hora de termino
        <select name="endHour" class="form-select" id="endHour" (change)="checkHour()" [(ngModel)]="modalData.endHour">
          <option value="00" selected="selected">00</option>
          <option value="01">01</option>
          <option value="02">02</option>
          <option value="03">03</option>
          <option value="04">04</option>
          <option value="05">05</option>
          <option value="06">06</option>
          <option value="07">07</option>
          <option value="08">08</option>
          <option value="09">09</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
        </select>
      </div>
      <div>
        Minuto de termino:
        <select name="endMinute" class="form-select" id="endMinute" (change)="checkHour()"
          [(ngModel)]="modalData.endMinute">
          <option *ngFor="let minute of minutesArray" [value]="minute.value">{{minute.title}}</option>
        </select>
      </div>
      <div>
        Revistas:
        <input type="number" class="form-control" [(ngModel)]="modalData.magazines" name="magazines">
      </div>
      <div>
        Publicações:
        <input type="number" class="form-control" [(ngModel)]="modalData.books" name="books">
      </div>
      <div>
        Revisitas:
        <input type="number" class="form-control" [(ngModel)]="modalData.revisits" name="revisits">
      </div>
      <div>
        <button type="button" [disabled]="saveButton" class="btn btn-primary mt-2 me-2" (click)="saveRegistry()">
          Salvar
        </button>
        <button type="button" *ngIf="deleteButton" class="btn btn-danger mt-2" (click)="openDeleteModal()">
          Deletar
        </button>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="close()">
        Fechar
      </button>
    </div>
  </ng-template>


  <ng-template #modalDelete let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">Deletar Registro</h5>
      <button type="button" class="btn btn-primary close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p class="text-danger">Deletar o registro?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="close(); deleteFromDb()">
        Sim, deletar!
      </button>
    </div>
  </ng-template>
  <ng-template #modalWhatsapp let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">Enviei seu relatorio</h5>
      <button type="button" class="btn btn-primary close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        Nome do ancião:
        <input type="text" class="form-control" (keyup)="checkWhatsapp()" [(ngModel)]="elder" name="elder">
      </div>
      <div>
        Número do whatsapp (Somente numeros ex: 11998881122)
        <input type="number" class="form-control removeArrows" (keyup)="checkWhatsapp()" [(ngModel)]="elderNumber"
          name="elderNumber">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" [disabled]="sendWhatsapp" class="btn btn-success" (click)="close(); sendRegistry()">
        Enviar!
      </button>
    </div>
  </ng-template>
  <ng-template #modalNewRevisit let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">Adicionar registro de revisita</h5>
      <button type="button" class="btn btn-primary close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <div>
        Nome da pessoa:
        <input type="text" class="form-control" [(ngModel)]="newRevisit.revistName" name="revistName">
      </div>
      <div>
        Telephone da pessoa:
        <input type="text" class="form-control" [(ngModel)]="newRevisit.phone" name="revistName">
      </div>
      <div>
        E-mail da pessoa:
        <input type="text" class="form-control" [(ngModel)]="newRevisit.email" name="revistName">
      </div>
      <div>
        Melhor dia para visitar:
        <select name="startMinute" class="form-select" id="startMinute" [(ngModel)]="newRevisit.bestDay">
          <option *ngFor="let weekDay of diasDaSemana" [value]="weekDay">{{weekDay}}</option>
        </select>
      </div>
      <div>
        Rua:
        <input type="text" class="form-control" [(ngModel)]="newRevisit.street" name="street">
      </div>
      <div>
        Número:
        <input type="text" class="form-control" [(ngModel)]="newRevisit.number" name="number">
      </div>
      <div>
        Bairro:
        <input type="text" class="form-control" [(ngModel)]="newRevisit.neighborhood" name="neighborhood">
      </div>
      <div>
        Ponto de referencia:
        <input type="text" class="form-control" [(ngModel)]="newRevisit.reference" name="reference">
      </div>
      <div>
        Publicação / texto bíblico usado:
        <input type="text" class="form-control" [(ngModel)]="newRevisit.publication" name="publication">
      </div>
      <p class="mt-2">
        Estudante ativo:
      </p>
      <input class="form-check-input" type="radio" [(ngModel)]="newRevisit.isActiveStudy" value="true"
        name="flexRadioDefault">
      <label class="form-check-label mx-1">
        Sim
      </label>
      <input class="form-check-input" type="radio" [(ngModel)]="newRevisit.isActiveStudy" value="false"
        name="flexRadioDefault">
      <label class="form-check-label mx-1">
        Não
      </label>
      <div>
        Anotações / Comentários:
        <textarea class="form-control" [(ngModel)]="comment" name="comment"></textarea>
      </div>
      <div class="my-5 justify-content-center">
        <p>Adicione uma imagem / foto</p>
        <label for="inputFile">
          <img src="assets/img/cloud_upload.png" /></label>
        <input id="inputFile" class="mt-3 ms-5 d-none" type="file" (change)="uploadFile($event)" />
      </div>
      <span *ngIf="spinner">Fazendo uppload da sua imagem</span>
      <br>
      <div *ngIf="spinner" class="spinner-border text-success" role="status">
        <span class="visually-hidden">Fazendo uppload da sua imagem</span>
      </div>
      <div>
        <button class="btn btn-primary mt-2" [disabled]="spinner" (click)="saveNewRevisit()">Salvar</button>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="close()">
        Fechar
      </button>
    </div>
  </ng-template>
  <ng-template #modalListRevisits let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">Lista de revisitas e estudos</h5>
      <button type="button" class="btn btn-primary close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12">
          <input class="form-check-input" type="radio" (click)="filterStudentes('true')" name="flexRadioDefault">
          <label class="form-check-label mx-1">
            Apenas Estudantes ativos
          </label>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
          <input class="form-check-input" type="radio" (click)="filterStudentes('false')" name="flexRadioDefault">
          <label class="form-check-label mx-1">
            Apenas Revisitas
          </label>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
          <input class="form-check-input" type="radio" (click)="filterStudentes('all')" name="flexRadioDefault">
          <label class="form-check-label mx-1">
            Todos
          </label>
        </div>
      </div>



      <div class="mt-2">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">
                Nome:
              </th>
              <th scope="col">
                Estudante:
              </th>
              <th scope="col" class="text-center">
                Visualizar
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let revist of myRevisits" scope="row">
              <td>{{revist.revistName}}</td>
              <td>{{revist.isActiveStudy == "true" ? "Sim" : "Não"}}</td>
              <td class="text-center" (click)="openEditRevisitModal(revist)"><svg xmlns="http://www.w3.org/2000/svg"
                  width="16" height="16" fill="green" class="bi bi-eye-fill" viewBox="0 0 16 16">
                  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                  <path
                    d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                </svg></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="close()">
        Fechar
      </button>
    </div>
  </ng-template>
  <ng-template #modalEditRevisit let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">Adicione informações

      </h5>
      <button type="button" class="btn btn-primary close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <span>
          Dia da primeira visita:
        </span>
        <div class="col-4"><input type="text" class="form-control" [(ngModel)]="editingRevist.firstVisitDay"
            name="revistName"></div>
        <div class="col-4"><select name="firstVisitMonth" class="form-select" id="firstVisitMonth"
            [(ngModel)]="editingRevist.firstVisitMonth">
            <option value="0">Janeiro</option>
            <option value="1">Fevereiro</option>
            <option value="2">Março</option>
            <option value="3">Abril</option>
            <option value="4">Maio</option>
            <option value="5">Junho</option>
            <option value="6">Julho</option>
            <option value="7">Agosto</option>
            <option value="8">Setembro</option>
            <option value="9">Outubro</option>
            <option value="10">Novembro</option>
            <option value="11">Dezembro</option>

          </select></div>
        <div class="col-4"><input type="text" class="form-control" [(ngModel)]="editingRevist.firstVisitYear"
            name="revistName"></div>
      </div>
      <div>
        Nome da pessoa:
        <input type="text" class="form-control" [(ngModel)]="editingRevist.revistName" name="revistName">
      </div>
      <div>
        Telephone da pessoa:
        <input type="text" class="form-control" [(ngModel)]="editingRevist.phone" name="revistName">
      </div>
      <div>
        E-mail da pessoa:
        <input type="text" class="form-control" [(ngModel)]="editingRevist.email" name="revistName">
      </div>
      <div>
        Melhor dia para visitar:
        <select name="startMinute" class="form-select" id="startMinute" [(ngModel)]="editingRevist.bestDay">
          <option *ngFor="let weekDay of diasDaSemana" [value]="weekDay">{{weekDay}}</option>
        </select>
      </div>
      <div>
        Rua:
        <input type="text" class="form-control" [(ngModel)]="editingRevist.street" name="street">
      </div>
      <div>
        Número:
        <input type="text" class="form-control" [(ngModel)]="editingRevist.number" name="number">
      </div>
      <div>
        Bairro:
        <input type="text" class="form-control" [(ngModel)]="editingRevist.neighborhood" name="neighborhood">
      </div>
      <div>
        Ponto de referencia:
        <input type="text" class="form-control" [(ngModel)]="editingRevist.reference" name="reference">
      </div>
      <div>
        Publicação / texto bíblico usado:
        <input type="text" class="form-control" [(ngModel)]="editingRevist.publication" name="publication">
      </div>
      <div class="mt-3">
        <span>
          Estudante ativo:
        </span>
        <input class="form-check-input" type="radio" [(ngModel)]="editingRevist.isActiveStudy"
          (click)="updateStudies('true')" value="true" name="flexRadioDefault">
        <label class="form-check-label mx-1">
          Sim
        </label>
        <input class="form-check-input" type="radio" [(ngModel)]="editingRevist.isActiveStudy"
          (click)="updateStudies('false')" value="false" name="flexRadioDefault">
        <label class="form-check-label mx-1">
          Não
        </label>
      </div>
      <div class="my-5 justify-content-center">
        <p>Adicione uma imagem / foto (se o registro já continha uma imagem, a anterior será substituida)</p>
        <label for="inputFile">
          <img src="assets/img/cloud_upload.png" /></label>
        <input id="inputFile" class="mt-3 ms-5 d-none" type="file" (change)="uploadFileEdit($event)" />
      </div>
      <div *ngIf="editingRevist.imagem">
        <img [src]="editingRevist.imagem" alt="" class="imgList" (click)="showImage()">
      </div>
      <span *ngIf="spinnerEdit">Fazendo uppload da sua imagem</span>
      <br>
      <div *ngIf="spinnerEdit" class="spinner-border text-success" role="status">
        <span class="visually-hidden">Fazendo uppload da sua imagem</span>
      </div>
      <div>
        <button class="btn btn-primary mt-2" [disabled]="spinnerEdit" (click)="EditRevisit()">Editar dados</button>
      </div>
      <p class="mt-2">
        Anotações:
      </p>
      <div *ngIf="!isEdittingComment; else editCommentForm">
        <div *ngFor="let comment of editingRevist.comments; index as index" class="border d-flex row mt-2 p-2">
          <div class="col-11">
            <p>
              Dia: {{comment.day}} / {{meses[comment.month]}}
            </p>
          </div>
          <div class="col-1 justify-content-end">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-pencil-square"
              viewBox="0 0 16 16" (click)="editComment(comment, index)">
              <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
              <path fill-rule="evenodd"
                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
            </svg>
          </div>
          <p>
            {{comment.comment}}
          </p>
        </div>
        <div>
          Nova anotação / comentário:
          <textarea class="form-control" [(ngModel)]="comment" name="comment"></textarea>
        </div>
        <button class="btn btn-primary mt-2" (click)="newComment()">Adicionar</button>
      </div>
      <ng-template #editCommentForm>
        <div class="row">
          <div class="col-6"><input type="text" class="form-control" [(ngModel)]="edittingComment.day"
              name="revistName"></div>
          <div class="col-6"><select name="firstVisitMonth" class="form-select" id="firstVisitMonth"
              [(ngModel)]="edittingComment.month">
              <option value="0">Janeiro</option>
              <option value="1">Fevereiro</option>
              <option value="2">Março</option>
              <option value="3">Abril</option>
              <option value="4">Maio</option>
              <option value="5">Junho</option>
              <option value="6">Julho</option>
              <option value="7">Agosto</option>
              <option value="8">Setembro</option>
              <option value="9">Outubro</option>
              <option value="10">Novembro</option>
              <option value="11">Dezembro</option>
            </select>
          </div>
        </div>
        <div>
          Nova anotação / comentário:
          <textarea class="form-control" [(ngModel)]="edittingComment.comment" name="comment"></textarea>
        </div>
        <button class="btn btn-primary mt-2" (click)="saveEditedComment()">Editar comentário</button>
      </ng-template>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="close()">
        Fechar
      </button>
    </div>
  </ng-template>
  <ng-template #modalImagem let-close="close">
    <div class="modal-header">
      <h5 class="modal-title"></h5>
      <button type="button" class="btn btn-primary close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <img [src]="editingRevist.imagem" alt="" class="imgShow" (click)="showImage()">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="close()">
        Fechar
      </button>
    </div>
  </ng-template>
  <ng-template #modalVideo let-close="close">
    <div class="modal-header">
      <h5 class="modal-title"></h5>
      <button type="button" class="btn btn-primary close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <vg-player (onPlayerReady)="videoPlayerInit($event)" #singleVideo>
        <vg-overlay-play></vg-overlay-play>
        <vg-buffering></vg-buffering>
        <vg-scrub-bar>
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>
        <vg-controls>
          <vg-play-pause></vg-play-pause>
          <vg-playback-button></vg-playback-button>
          <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
          <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
          <vg-mute></vg-mute>
          <vg-volume></vg-volume>
          <vg-fullscreen></vg-fullscreen>
        </vg-controls>
        <video #media [vgMedia]="$any(media)" [src]="currentVideo.src" id="singleVideo" preload="auto"
          crossorigin></video>
      </vg-player>
      <span>
        Mostrar video nas proximas visitas:
      </span>
      <br>
      <input class="form-check-input" type="radio" [(ngModel)]="publicador.showVideo" (click)="cancelVideo('true')"
        value="true" name="flexRadioDefault">
      <label class="form-check-label mx-1">
        Sim
      </label>
      <input class="form-check-input" type="radio" [(ngModel)]="publicador.showVideo" (click)="cancelVideo('false')"
        value="false" name="flexRadioDefault">
      <label class="form-check-label mx-1">
        Não
      </label>
    </div>
    <div class="modal-footer">

      <button type="button" class="btn btn-primary" (click)="close()">
        Fechar
      </button>
    </div>
  </ng-template>
</div>