<div class="dashboard mb-3">
  <div class="d-flex row justify-content-center">
    <div class="card my-5" style="width: 50%;">
      <div class="card-body">
        <h5 class="card-title text-center">Seu reusmo do mês</h5>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <h6 class="card-subtitle mb-2 text-muted">Horas : {{totals.hours/60 | round }}</h6>
          </div>
          <div class="col-lg-4 col-md-6">
            <h6 class="card-subtitle mb-2 text-muted">Minutos: {{totals.hours%60 }}</h6>
          </div>
          <div class="col-lg-4 col-md-6">
            <h6 class="card-subtitle mb-2 text-muted">Revistas: {{totals.magazines}}</h6>
          </div>
          <div class="col-lg-4 col-md-6">
            <h6 class="card-subtitle mb-2 text-muted">Publicações: {{totals.books}}</h6>
          </div>
          <div class="col-lg-4 col-md-6">
            <h6 class="card-subtitle mb-2 text-muted">Revisitas: {{totals.revisits}}</h6>
          </div>
          <div class="col-lg-4 col-md-6">
            <h6 class="card-subtitle mb-2 text-muted">Estudos: {{totals.studies}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay();getEvents() ">
          Anterior
        </div>
        <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
          Hoje
        </div>
        <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay();getEvents() ">
          Próximo
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'pt' }}</h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
          Dia
        </div>
      </div>
    </div>
  </div>
  <br />
  <div [ngSwitch]="view" >
    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
      [locale]="locale" [hourSegments]="4" (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)" (hourSegmentClicked)="hourSegmentClicked()">
    </mwl-calendar-day-view>
  </div>
  <ng-template #loading>
    <div class="text-center">
      <i class="fas fa-spin fa-spinner fa-5x"></i> <br />
      Loading events...
    </div>
  </ng-template>

  <br /><br /><br />

  <ng-template #modalContent let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">Adicione seu Relatorio</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        Hora de inicio
        <select name="startHour" class="form-select" id="startHour" [(ngModel)]="modalData.startHour">
          <option value="00">00</option>
          <option value="01">01</option>
          <option value="02">02</option>
          <option value="03">03</option>
          <option value="04">04</option>
          <option value="05">05</option>
          <option value="06">06</option>
          <option value="07">07</option>
          <option value="08">08</option>
          <option value="09">09</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
        </select>
      </div>
      <div>
        Minuto de inicio:
        <select name="startMinute" class="form-select" id="startMinute" [(ngModel)]="modalData.startMinute">
          <option value="00" selected="selected">00</option>
          <option value="15">15</option>
          <option value="30">30</option>
          <option value="45">45</option>
        </select>
      </div>
      <div>
        Hora de termino
        <select name="endHour" class="form-select" id="endHour" (change)="checkHour()" [(ngModel)]="modalData.endHour">
          <option value="00" selected="selected">00</option>
          <option value="01">01</option>
          <option value="02">02</option>
          <option value="03">03</option>
          <option value="04">04</option>
          <option value="05">05</option>
          <option value="06">06</option>
          <option value="07">07</option>
          <option value="08">08</option>
          <option value="09">09</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
        </select>
      </div>
      <div>
        Minuto de termino:
        <select name="endMinute" class="form-select" id="endMinute" [(ngModel)]="modalData.endMinute">
          <option value="00" selected="selected">00</option>
          <option value="15">15</option>
          <option value="30">30</option>
          <option value="45">45</option>
        </select>
      </div>
      <div>
        Revistas:
        <input type="number" class="form-control" [(ngModel)]="modalData.magazines" name="magazines">
      </div>
      <div>
        Publicações:
        <input type="number" class="form-control" [(ngModel)]="modalData.books" name="books">
      </div>
      <div>
        Revisitas:
        <input type="number" class="form-control" [(ngModel)]="modalData.revisits" name="revisits">
      </div>
      <div>
        Estudos:
        <input type="number" class="form-control" [(ngModel)]="modalData.studies" name="studies">
      </div>
      <div>
        <button type="button" [disabled]="saveButton" class="btn btn-primary mt-2" (click)="saveRegistry()">
          Salvar
        </button>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="close()">
        OK
      </button>
    </div>
  </ng-template>
</div>